node_modules/
temp/
img/avatar/
.vscode/
.DS_Store
npm/
backups/
migrations/
package-lock.json
.env
.env copy
upload.md
serverjs.md
replacements.txt
* copy*.js
*-copy*.js
*-copy*.db
* copy*.db
*.db
*.db-wal
*.db-shm
backups/
reset-db.js
add-timezone-column.js
log.html
terminal-logs.txt
add-event-columns.js
add-theme-column.js
MIGRATION-README.md
финал.txt
финал
АПИПереход.js
АПИПереходFootball-data.json
АПИПереходSStats.json
АПИПереходSStats-Маппинг.md
МИГРАЦИЯ_SSTATS.md
ИНСТРУКЦИЯ_МАППИНГ_КОМАНД.md
fix-telegram-username-case.cjs
add-group-reminders-visibility-setting.cjs
negative-reactions.json
positive-reactions.json

парсинг.txt
live.txt
Glicko2.txt
add-news-table.cjs
add-news-reactions-table.cjs
add-rss-keywords-table.cjs
add-admin-panel-config-table.cjs
remove-configure-button.cjs

Autoparsing.js

DISCORD_OAUTH_SETUP.md
